:root {
    --bg-color: #050505;
    --card-bg: #0d0d0d;
    --border-color: #2b0a0a;
    --text-primary: #e6e6e6;
    --text-secondary: #a0a0a0;

    /* COLORES PRO */
    --neon-red: #ff2a2a;
    --matrix-green: #39ff14;
    --cyber-blue: #00f0ff;
    --purple: #8957e5;

    --alert-bg-red: #0e0505;
}
body {
    margin: 0;
    background: var(--bg-color);
    color: var(--text-primary);
    font-family: monospace;
}
.tab-content {
    display: none;
}

.tab-content.active-content {
    display: block;
}
/* --- ESTILOS DE LA BARRA HUD NAVEGACIÓN --- */
.hud-header {
    background-color: #030704; /* Fondo negro absoluto */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 3%;
    border-bottom: 2px solid #ff2a2a; /* Línea roja delgada inferior */
    box-shadow: 0 4px 15px rgba(255, 42, 42, 0.15);
    font-family: monospace;
}

/* Logotipo de la Izquierda */
.hud-logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hud-badge {
    color: #ff2a2a;
    font-size: 1.5rem;
}

.hud-logo-text {
    display: flex;
    flex-direction: column;
}
.hud-btn.active {
    color: var(--neon-red);
    border-bottom: 2px solid var(--neon-red);
    text-shadow: 0 0 8px rgba(255, 42, 42, 0.8);
}
.hud-btn:hover {
    color: #ffffff;
}

.logo-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.logo-sub {
    color: #39ff14; /* Verde neón para el subtítulo */
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.text-red {
    color: #ff2a2a;
}

/* Botones de Navegación del Centro */
.hud-nav {
    display: flex;
    gap: 5px;
}

.hud-btn {
    background: none;
    border: none;
    color: #a0a0a0;
    padding: 8px 16px;
    cursor: pointer;
    font-family: monospace;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    position: relative;
}


/* Indicador del Sistema de la Derecha */
.hud-status {
    border: 1px solid #1a3a21;
    background-color: rgba(7, 31, 11, 0.3);
    color: #39ff14;
    padding: 6px 14px;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.2);
}

.hud-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--neon-red);
    transition: width 0.3s ease;
}

.hud-btn:hover::after {
    width: 100%;
}
.status-dot {
    width: 6px;
    height: 6px;
    background-color: #39ff14;
    border-radius: 50%;
    display: inline-block;
    animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
    0% { box-shadow: 0 0 0 0 rgba(57, 255, 20, 0.7); }
    70% { box-shadow: 0 0 0 6px rgba(57, 255, 20, 0); }
    100% { box-shadow: 0 0 0 0 rgba(57, 255, 20, 0); }

}



/*/*/
.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    gap: 20px;
    padding: 20px;
}

/* PANEL GENERAL */
.panel {
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 42, 42, 0.1);
}
/* PANEL CENTRAL */
.center-panel{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#0a0a0f;
    border:1px solid rgba(255,0,0,.25);

    padding:25px;
    min-height:220px;

    position:relative;
    overflow:hidden;

    box-shadow:0 0 20px rgba(255,0,0,.12);
}

/* EFECTO HACKER */
.center-panel::before{
    content:"";
    position:absolute;
    inset:0;

    background:
        linear-gradient(
            rgba(255,0,0,.05) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255,0,0,.05) 1px,
            transparent 1px
        );

    background-size:40px 40px;
    pointer-events:none;
}

/* CONTENIDO */
.center-content{
    width:60%;
    z-index:2;
}

.center-content h1{
    font-size:2rem;
    color:white;
    margin-bottom:10px;
    text-transform:uppercase;
}

.text-red{
    color:#ff2a2a;
}

.center-content h4{
    color:#ff2a2a;
    font-size:1rem;
    margin-bottom:20px;
    text-transform:uppercase;
}

.center-content p{
    color:#b7b7b7;
    line-height:1.7;
    font-size:.9rem;
    max-width:700px;
}

/* MAPA */
.center-map{
    width:35%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.center-map img{
    width:100%;
    max-width:400px;
    opacity:.9;

    filter:
        brightness(1.2)
        contrast(1.2)
        drop-shadow(0 0 15px rgba(255,0,0,.6));
}

/* RESPONSIVE */
@media(max-width:900px){

    .center-panel{
        flex-direction:column;
        text-align:center;
    }

    .center-content,
    .center-map{
        width:100%;
    }

    .center-map{
        margin-top:20px;
    }
}

/*IZQUIERDO/*

/* ==========================
   TARJETA OBJETIVO ANALIZADO
========================== */

.target-card{
    position:relative;

    background:rgba(8,8,12,.95);

    border:1px solid rgba(255,0,0,.35);

    padding:25px;

    min-height:220px;

    overflow:hidden;

    clip-path:polygon(
        0 0,
        88% 0,
        100% 12%,
        100% 100%,
        12% 100%,
        0 88%
    );

    box-shadow:
        0 0 10px rgba(255,0,0,.15),
        0 0 25px rgba(255,0,0,.08),
        inset 0 0 20px rgba(255,0,0,.05);
}

/* GRID HACKER */

.target-card::before{
    content:"";
    position:absolute;
    inset:0;

    background:
        linear-gradient(
            rgba(255,0,0,.04) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255,0,0,.04) 1px,
            transparent 1px
        );

    background-size:20px 20px;

    pointer-events:none;
}

/* BORDE TECNOLÓGICO */

.target-card::after{
    content:"";

    position:absolute;

    top:10px;
    left:10px;
    right:10px;
    bottom:10px;

    border:1px solid rgba(255,0,0,.15);

    pointer-events:none;
}

/* TITULO */

.target-card h3{
    color:#ff3030;

    font-size:.9rem;

    text-transform:uppercase;

    letter-spacing:1px;

    margin-bottom:20px;

    position:relative;
    z-index:2;
}

/* CONTENIDO */

.target-content{
    display:flex;
    align-items:center;
    gap:15px;

    position:relative;
    z-index:2;
}

/* ICONO */

.icon{
    width:42px;
    height:42px;

    border:2px solid #ff3030;

    display:flex;
    align-items:center;
    justify-content:center;

    color:#ff3030;

    border-radius:4px;

    box-shadow:
        0 0 10px rgba(255,0,0,.3);
}

.icon i{
    font-size:18px;
}

/* DOMINIO */

.domain{
    margin:0;

    color:white;

    font-size:1.1rem;

    font-weight:700;
}

.ip{
    color:#8d8d8d;

    font-size:.9rem;

    font-family:monospace;
}

/* ==========================
   ENERGÍA ROJA INFERIOR
========================== */

.target-visual{
    position:absolute;

    left:50%;
    bottom:25px;

    transform:translateX(-50%);

    width:180px;
    height:70px;
}

/* CÍRCULO ROJO */

.target-visual::before{
    content:"";

    position:absolute;

    left:50%;
    bottom:0;

    transform:translateX(-50%);

    width:150px;
    height:25px;

    border-radius:50%;

    background:
    radial-gradient(
        ellipse,
        rgba(255,50,50,.95) 0%,
        rgba(255,50,50,.35) 45%,
        transparent 80%
    );

    filter:blur(4px);

    animation:pulseGlow 2s ease-in-out infinite;
}

/* LÁSER CENTRAL */

.target-visual::after{
    content:"";

    position:absolute;

    left:50%;
    bottom:10px;

    transform:translateX(-50%);

    width:2px;
    height:65px;

    background:#ff4040;

    box-shadow:
        0 0 10px #ff4040,
        0 0 20px #ff4040,
        0 0 30px #ff4040;
}

/* ANIMACIÓN */

@keyframes pulseGlow{

    0%{
        opacity:.6;
        transform:translateX(-50%) scale(.9);
    }

    50%{
        opacity:1;
        transform:translateX(-50%) scale(1);
    }

    100%{
        opacity:.6;
        transform:translateX(-50%) scale(.9);
    }

}